.about .marquee {
  margin-bottom: 50px;
}

.about-top {
  position: relative;
  padding: 100px 0 120px;
  overflow: hidden;
}

.about-top .wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1280px;
}

.about-top-cnt {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 792px;
}

.about-top-img {
  position: absolute;
  top: 50%;
  right: calc(100% + 126px);
  transform: translateY(-50%);
  width: 100%;
  min-width: 808px;
}

.about-top-img img {max-width: 100%;}

.about-top-info.team-info {
  max-width: 780px;
}

.about-top-info .title {
  max-width: 419px;
}

.team-info.about-top-info  > p {
  max-width: 557px;
}

.team-info.about-top-info p:not(:last-child) {
  margin-bottom: 56px;
}

.about-top-quote {
  position: relative;
  padding: 57px 20px 50px 43px;
}

.about-top-quote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 1500px;
  left: 0;
  height: 100%;
  background: var(--blue);
  border-radius: 51px;
  background-image: url('../../images/about-top-bg.png');
  background-repeat: no-repeat;
  background-position: top 0 left 65px;
}

.team-info .about-top-quote-text {
  color: var(--white);
}

.about-top-quote-text,
.team-info .about-top-quote-text {
  position: relative;
  z-index: 2;
  max-width: 727px;
  font-family: 'e-Ukraine Head';
  font-style: normal;
  font-weight: 100;
  font-size: 32px;
  line-height: 130%;
  color: var(--white);
}

.about-top-quote-text > strong {
  position: relative;
  margin-right: 5px;
  display: inline-block;
  font-weight: 400;
  color: var(--blue);
}

.about-top-quote-text > strong::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -13px;
  right: -13px;
  bottom: -6px;
  display: block;
  width: calc(100% + 26px);
  height: calc(100% + 12px);
  background: var(--yellow);
  border-radius: 86px;
}

.about-top-quote-text.black-text {color: var(--black);}

.about-top-quote-text > strong strong {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.about-bottom {
  padding: 120px 0;
  background-color: var(--black-03);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.about-bottom-cnt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-bottom-info {
  width: 100%;
  max-width: 537px;
  padding: 92px 15px 0 0;
}

.about-bottom-info .about-top-quote-text  {
  margin-bottom: 38px;
  font-size: 24px;
  line-height: 180%;
}

.about-bottom-info .about-top-quote-text > strong {
  margin-right: 10px;
  color: var(--black);
}

.about-bottom-info .about-top-quote-text > strong::before {
  top: -2px;
  left: -12px;
  right: -12px;
  bottom: -2px;
  width: calc(100% + 24px);
  height: calc(100% + 4px);
}

.about-slider {
  width: 100%;
  max-width: 504px;
}

.about-slider-img-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.about-slider-img-wrap:not(:last-child) {margin-bottom: 11px;}
.about-slider-img-wrap:first-child {justify-content: flex-start;}
.about-slider-img-wrap:last-child {
  justify-content: flex-end;
  padding: 0 15px 15px 0;
}

.about-slider-img-wrap:first-child::before {
  content: '';
  position: absolute;
  bottom: 20px;
  right: 55px;
  display: block;
  width: 49px;
  height: 76px;
  background-image: url('../../images/arr.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-slider-img {
  position: relative;
  display: block;
  width: calc(100% - 139px);
}

.about-slider-img::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
  display: block;
  width: 100%;
  height: 100%;
  border: 3px solid var(--blue);
  border-radius: 30px;
}

.about-slider-img img {
  position: relative;
  z-index: 2;
  width: 100%;
}

@media (max-width: 1200px) {
  .about .marquee {
    margin-bottom: 90px;
  }
  
  .about-top {
    padding: 0 0 90px;
  }
  
  .about-top .wrapper {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  
  .about-top-cnt {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
  }
  
  .about-top-img {
    position: static;
    transform: translateY(0);
    min-width: 0;
    max-width: 560px;
    margin: 0 auto 65px;
  }
  
  .about-top-info.team-info {
    max-width: 100%;
  }
  
  .about-top-info .title {
    max-width: 100%;
  }
  
  .team-info.about-top-info  > p {
    max-width: 100%;
  }
  
  .team-info.about-top-info p:not(:last-child) {
    margin-bottom: 40px;
  }
  
  .about-top-quote {
    padding: 50px 20px;
  }

  .about-bottom {
    padding: 90px 0;
    background-position: bottom -250px left -350px;
  }
  
  .about-bottom-cnt {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about-bottom-info {
    max-width: 100%;
    padding: 0;
    order: 2;
  }
  
  .about-slider {
    order: 1;
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .about .marquee {
    margin-bottom: 70px;
  }
  
  .about-top {
    padding: 0 0 60px;
  }
  
  
  .about-top-img {
    max-width: 335px;
    margin: 0 auto 30px;
  }
  
  .team-info.about-top-info p:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .about-top-quote {
    padding: 25px 20px;
  }

  .about-top-quote-text {
    font-size: 18px;
    line-height: 130%;
  }

  .about-top-quote::before {
    width: 700px;
    background-image: none !important;
    border-radius: 30px;
  }

  .about-top-quote-text > strong::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -9px;
    right: -9px;
    bottom: -4px;
    width: calc(100% + 18px);
    height: calc(100% + 8px);
  }

  .about-bottom-info .about-top-quote-text  {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 180%;
  }

  .about-slider-img-wrap:first-child::before {
    bottom: 0;
    right: 7px;
  }

  .about-slider {
    max-width: 335px;
    margin-bottom: 50px;
  }
  
  .about-slider-img {
    width: calc(100% - 78px);
  }
  
  .about-slider-img::before {
    top: 10px;
    left: 10px;
  }

  .about-slider-img-wrap:not(:last-child) {
    margin-bottom: 7px;
  }
}
